# Dependencies
node_modules/
.pnp
.pnp.js
backend/venv/
backend/.env

# Testing
coverage/

# Next.js
.next/
out/
build/
.vercel

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# OS Setup
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
